export(DocTopics)
export(ExpAgendaVonmon)
export(PreProcess)
export(TopicSummary)
import(MCMCpack)
importFrom(DataCombine,MoveFront)
importFrom(plyr,rename)
importFrom(tm,Corpus)
importFrom(tm,DocumentTermMatrix)
importFrom(tm,removeNumbers)
importFrom(tm,removePunctuation)
importFrom(tm,removeSparseTerms)
importFrom(tm,removeWords)
importFrom(tm,stemDocument)
importFrom(tm,stopwords)
importFrom(tm,stripWhitespace)
importFrom(tm,tm_map)
